body {
    font-family: "Helvetica",
    sans-serif;  
}

section {
    margin-left: 620px;
    background-color: #E6E5E5;
    margin-right: 582px;
    padding-bottom: 22px;
    padding-top: 5px;
}

section h3 {
    text-align: center;
}

section ol li {
    text-decoration: underline;
    text-align: left;
    padding-top: 5px;
}