@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Phonebook</h1>
    <p>Go to <a href="https://localhost:5001/Phonebook">Phonebook</a>.</p>
</div>
